/* Footer styling */
footer {
    background-color: #333;
    color: white;
    position: relative;
    padding: 2rem 0;
  }
  
  .footer-icon {
    transition: color 0.3s ease;
  }
  
  .footer-icon:hover {
    color: #007bff; /* Color de hover para los íconos sociales */
  }
  
  .footer-email {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-email:hover {
    text-decoration: underline;
  }
  
  .footer-description {
    font-size: 1rem;
  }
  
  .footer-rights,
  .footer-contact {
    font-size: 0.875rem;
  }
  